<h1>Add Contacts</h1>

<p>Add a contact here:</p>

<form action="/contact_list" method="post">
  <label for= "first_name">First name:</label>
  <input id= "first_name" name = "first_name" type = "text">

  <label for= "last_name">Last name:</label>
  <input id= "last_name" name = "last_name" type = "text">

  <label for= "birthday">Birthday (1/11/11):</label>
  <input id= "birthday" name = "birthday" type = "text">

  <button type = "submit">Add contact</button>
</form>
